/*
    Author:  Cara Jones
    Date:    June 28, 2022
    Assignment: Online Profile
    File: styles.css

*/
:root{

    --shadow: 5px 5px 8px 5px #1520a6;
    --blue:  #1520a6;
    --light: #f7e5e2;
    --dark: #c4a5d9;

}
html{
  padding: 20px;
  font-family:  'Playfair Display', serif;
  box-sizing: border-box;
}



/*------------------------------------ Main Page -------------------------------------------- */
.main{
  margin-top: 30px;
  box-shadow: var(--shadow);
  padding: 10px;
  max-width: 360px;
  margin-left: 30px;
}
.main h1, .about h2{
  padding:5px;
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: var(--blue);
  color: white;
}
.main img{
  margin-bottom: 45px;
  border-radius: 3%;
  border: 2px var(--blue) solid;
}
.about{
  box-shadow: var(--shadow);
  padding: 20px;
  margin-top: 50px;
  max-width: 360px;
  margin-left: 30px;
}

.about p{
  justify-content: center;
  padding: 15px;
  max-width: 300px;
  /* margin-left: 5%; */
}
/*---------------------------------------- Resume ---------------------------------------------*/
.main-resume{
  margin: 30px 10px;
}
.main-resume h1, .main-education h1{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px;
  background-color: var(--blue);
  color:white;
}
section{
  margin: 40px 0px 40px 0px;
  border: 2px solid var(--blue);
  border-radius: 10%;
  box-shadow: var(--shadow);
  padding: 20px;
}
section div{
  font-weight: bold;
}
section div p{
  font-weight: normal;
  margin: 0px 20px;
}


/*----------------------------------------- Education ----------------------------------------------*/

.taken, .will-take{
  margin: 20px 0px 80px 0px;
  border: 2px solid var(--blue);
  border-radius: 10%;
  box-shadow: var(--shadow);
  padding: 20px;
}
.taken h2, .will-take h2{
  text-align: center;
  font-weight: bold;
}

div ul li{
  list-style-type: none;
}

/*-------------------------------------- Responsive Design ------------------------------------------*/


@media screen and (max-width:)
