/*
    Author:  Cara Jones
    Date:    June 28, 2022
    Assignment: Online Profile
    File: styles.css

*/
:root{

    --shadow: 5px 5px 8px 5px #a3bba3;
    --blue:  #a3bba3;
    --light: #f7e5e2;
    --dark: #c4a5d9;

}
html{
  padding: 20px;
  text-align: center;
  font-family:  'Playfair Display', serif;
  box-sizing: border-box;
}

.main{
  margin-top: 30px;
  box-shadow: var(--shadow);
  padding: 10px;
}
.main h1, .about h2{
  padding:5px;
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 30px;
  background-color: var(--blue);
}
.main img{
  margin-bottom: 45px;
  border-radius: 3%;
  border: 2px var(--blue) solid;

}
.main-resume{
  margin: 30px 10px;
}
.main-resume h1, .main-education h1{
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  padding: 10px;
  background-color: var(--blue);
  /* border-radius: 15%; */

}
section{
  margin: 40px 0px 40px 0px;
  border: 2px solid var(--blue);
  border-radius: 10%;
  box-shadow: var(--shadow);
  padding: 20px;
}
section div{
  font-weight: bold;
}
section div p{
  font-weight: normal;
  margin: 0px 20px;
}
.about{
  box-shadow: var(--shadow);
  padding: 20px;
  margin-top: 50px;
}

.about p{
  justify-content: center;
  padding: 15px;
  max-width: 300px;
  margin-left: 15%;
}

div ul li{
  list-style-type: none;
}
